-
	var linksPlaceholder = 'Here you can include links to your code, ' +
					'social network pages, projects or something else. ' +
					'Separate links from each other and your comments by at least one space or newline. ' +
					'Maximum 5000 characters.'

-
	var freeFormPlaceholder = 'Feel free to add anything you want here. ' +
					'You can tell more about yourself, your projects, education, achievements, work experience or anything ' +
					'else you can think of. Maximum 5000 characters.'


doctype html

html(lang='en')
	head
		title Application - Mine Eclipse
		include head

	body
		header
			include header

		include flash

		main
			div#content-container
				h1 Welcome to Mine Eclipse!
				h3 What is Mine Eclipse?
				p.
					Mine Eclipse is a project started by Metropolia students aiming to design
					and build a new kind of IoT devices. Join us to learn more!
				h3 Why should you join?
				div.row
					img.splash-icon(src='/img/credits.png' alt='Credit counter image')
					div
						h4 Study credits
						p Join the development and get credits, regardless of your major!
				div.row
					div
						h4 Innovation project
						p At Mine Eclipse we will offer you plenty of topics to choose from for your innovation project.
					img.splash-icon(src='/img/hat.png' alt='Graduation hat image')
				div.row
					img.splash-icon(src='/img/team.png' alt='Team image')
					div
						h4 Experienced teams
						p.
							At Mine Eclipse you will work in a professional team and learn
							best tools and practices used in the companies around the world.
				h2 Join us today by filling the form below!
				form(action='/join/' method='post' enctype='multipart/form-data')
					label.required(for='first-name') First name
					input#first-name(type='text' name='firstName' placeholder='John'
						title='Your first name' maxlength=100
						autocomplete='given-name' required)
					label.required(for='last-name') Last name
					input#last-name(type='text' name='lastName' placeholder='Doe'
						title='Your last name' maxlength=100
						autocomplete='family-name' required)
					label.required(for='email') Your Metropolia email
					input#email(type='email' name='email' value=email
						title='Your Metropolia email, filled in automatically' readonly)
					label.required(for='backup-email') Secondary email
					input#backup-email(type='email' name='backupEmail' placeholder='john.doe@example.com'
						title='Your non-Metropolia email' maxlength=100
						autocomplete='email' required)
					label.required(for='phone') Main phone number
					input#phone(type='tel' name='phone'
						title='Your phone starting with 0 or +358'
						placeholder='+358400000000' pattern='(0|\\+358)\\d{9}'
						autocomplete='tel' required)
					label(for='phone') Secondary phone number
					input#backup-phone(type='tel' name='backupPhone'
						title='Your backup phone number in case the main one is unavailable'
						placeholder='+358400000000' pattern='(0|\\+358)\\d{9}'
						autocomplete='tel')
					label.required Select your team
					div
						input#team-e(type='radio' value='Embedded' name='team'
							title=`Here you'll be developing an IoT device itself` required)
						label.inline(for='team-e') Embedded team
					div
						input#team-f(type='radio' value='Frontend' name='team'
							title=`Here you'll be developing a web interface`)
						label.inline(for='team-f') Frontend team
					div
						input#team-b(type='radio' value='Backend' name='team'
							title=`Here you'll be developing a server software connecting other components together`)
						label.inline(for='team-b') Backend team
					div
						input#team-a(type='radio' value='Android' name='team'
							title=`Here you'll be developing an Android client`)
						label.inline(for='team-a') Android team
					div
						input#team-i(type='radio' value='iOS' name='team'
							title=`Here you'll be developing an iOS client`)
						label.inline(for='team-i') iOS team
					div
						input#team-o(type='radio' value='Other' name='team'
							title=`Select this if you're not a developer`)
						label.inline(for='team-o') Other (tell us below)
					label(for='links') Add useful links (GitHub, LinkedIn, etc.)
					textarea#links(name='links' placeholder=linksPlaceholder
						title = 'Add any relevant links here' maxlength=5000)
					label(for='free-form') Anything else you'd like to tell
					textarea#free-form(name='freeForm' placeholder=freeFormPlaceholder
						title='Add anything about yourself here' maxlength=5000)
					label.required(for='cv') Please attach your cv
					input#cv(type='file' name='cv' required)
					input#privacy(type='checkbox' required)
					label.inline.required(for='privacy') I agree to the
						|
						|
						a(href='/privacy/') Privacy Policy.
					input#submit(type='submit' value='Join!' title='Send')
					label.label-info.required-info * Required fields
					script(async type='text/javascript' src='/js/user/join.js')

		footer
			include footer
